

body{
    padding: 10px;
    margin:  10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    margin: 15px;
    padding: 0px;
    border-radius: 35px;
    width: 125px;
    height: 800px;
    overflow: hidden;
    transition: width 0.5s, height 0.5s;
    

}

.box:hover{
    color: blueviolet;

}

.box img {
    width: 900px;
    height: 800px;
    display: block;
    margin: auto;
    border-radius: 35px;
    transition: width 0.5s, height 0.5s;
}

.box:hover {
    width: 900px;
    height: 800px;
}

.box:hover img {
    width: 900px;
    height: 800px;
}








